.charts {
  background-color: #FFFFFF;
  border-radius: 30px;
  padding: 40px 30px 20px;
  width: 100%;
  max-width: 900px;
  box-shadow: 0px 10px 60px rgba(170, 178, 197, 0.2);
  margin-top: 30px;

  &__wrapper {
    position: relative;
    height: 320px;
    width: 100%;
  }

  &__grid {
    position: absolute;
    top: 30px;
    left: 0;
    right: 0;
    bottom: 40px; // Оставляем место для подписей снизу
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__grid-line {
    height: 1px;
    background-color: #F5F6FB; // Очень светлая линия сетки
    width: 100%;
  }

  &__bars {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    height: 100%;
    z-index: 1;
    padding-bottom: 40px;
  }

  &__bar-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 45px;
  }

  &__bar-value {
    font-size: 10px;
    color: #52555F;
    margin-bottom: 8px;
    white-space: nowrap;
  }

  &__bar {
    width: 35px;
    border-radius: 10px 10px 0 0;
    transition: height 0.5s ease;

    &--orange {
      background-color: #FF751D;
    }

    &--pale {
      background-color: #FFDAC0;
    }
  }

  &__bar-label {
    position: absolute;
    bottom: -25px;
    font-size: 10px;
    color: #52555F;
    text-align: center;
    white-space: nowrap;
  }
}