

// Основні кольори (Colors)
$color-primary: #FF751D;         
$color-secondary: #F5F6FB;       
$color-bg: #F2F5FC;              
$color-white: #FFFFFF;           

// Кольори тексту (Typography Colors)
$color-text-main: #52555F;       
$color-text-light: #A6ABB9;      
$color-text-black: #000000;      

// Кольори брендів
$color-google-icon: #EA4335;     

//  Заокруглення
$radius-card: 30px;              
$radius-input: 30px;             
$radius-btn-google: 26px;        
$radius-btn: 16px;               

// ☁️ Тіні (Box Shadows)
$shadow-card: 0px 10px 60px rgba(170, 178, 197, 0.2);       
$shadow-btn-primary: 0px 4px 10px rgba(255, 117, 29, 0.2);  

// Шрифти (Typography)
$font-family-main: 'Roboto', sans-serif;